<div>
    <main>
        <h2>
            <strong> {{name}} </strong>
        </h2>
        <ul>
            {{#each users}}
            <hr>
            <h3>
                <strong>Users:</strong>
            </h3>
            <p> {{name}}, {{gender}}, {{age}}</p>
            <p>ID: {{id}}</p>

            <br>

            <ul>
                {{#each friends}}
                <li>
                    <h3>
                        <i>Friends:</i>
                    </h3>
                </li>
                <p> {{name}}, {{gender}}, {{age}}</p>
                <p>ID: {{id}}</p>

                <br>

                <ul>
                    {{#each mutual_friends}}
                    <li>
                        <h3>
                            <strong>Mutual friends:</strong>
                        </h3>
                        <p> {{name}}, {{gender}}, {{age}}</p>
                        <p>ID: {{id}}</p>

                        <br>

                        {{#if mutual_friends}}
                        <ul>
                            {{#each mutual_friends}}
                            <li>
                                <h3>
                                    <strong>Mutual friends:</strong>
                                </h3>
                                <p> {{name}}, {{gender}}, {{age}}</p>
                                <p>ID: {{id}}</p>
                            </li>
                            {{/each}}

                        </ul>
                        {{/if}}


                    </li>
                    {{/each}}

                </ul>
                {{#if groups}}
                {{#each groups}}
                <li>
                    <h3>
                        <i>Groups:</i>
                    </h3>
                    <p> {{name}}</p>
                    <p>ID: {{id}}</p>
                    <p><i> {{description}} </i></p>
                </li>
                <br>

                <ul>
                    {{#each members}}
                    <li>
                        <h3>
                            <strong>Members:</strong>
                        </h3>
                        <p> {{name}}, {{gender}}, {{age}}</p>
                        <p>ID: {{id}}</p>
                        <br>
                    </li>
                    {{/each}}
                </ul>
                {{/each}}
                {{/if}}
                {{/each}}

                <br>

                {{#if groups}}
                {{#each groups}}
                <li>
                    <h3>
                        <i>Groups:</i>
                    </h3>
                    <p> {{name}}</p>
                    <p>ID: {{id}}</p>
                    <p><i> {{description}} </i></p>
                </li>
                <br>
                <ul>

                    {{#each members}}
                    <li>
                        <h3>
                            <strong>Members:</strong>
                        </h3>
                        <p> {{name}}, {{gender}}, {{age}}</p>
                        <p>ID: {{id}}</p>
                        <br>
                        {{/each}}
                    </li>
                </ul>
                {{/each}}
                {{/if}}
            </ul>
            {{/each}}
        </ul>
    </main>
</div>