<div>
    <main>
        <h2>
            <strong> {{name}} </strong>
        </h2>
        <ul>
            {{#each users}}
            <hr>
            <h3>
                <strong>Users:</strong>
            </h3>
            <p> {{name}}, {{gender}}, {{age}}</p>
            <p>ID: {{id}}</p>

            <br>

            <ul>
                <h3>
                    <i>Friends:</i>
                </h3>
                {{#each friends}}
                <li>
                    <p> {{name}}, {{gender}}, {{age}}</p>
                    <p>ID: {{id}}</p>
                </li>

                <br>

                <ul>
                    <h3>
                        <strong>Mutual friends:</strong>
                    </h3>
                    {{#each mutual_friends}}
                    <li>
                        <p> {{name}}, {{gender}}, {{age}}</p>
                        <p>ID: {{id}}</p>
                    </li>

                    <br>

                    {{#if mutual_friends}}
                    <ul>
                        <h3>
                            <strong>Mutual friends:</strong>
                        </h3>
                        {{#each mutual_friends}}
                        <li>
                            <p> {{name}}, {{gender}}, {{age}}</p>
                            <p>ID: {{id}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}
                </ul>

                {{#if groups}}
                <ul>
                    <h3>
                        <i>Groups:</i>
                    </h3>
                    {{#each groups}}
                    <li>
                        <p> {{name}}</p>
                        <p>ID: {{id}}</p>
                        <p><i> {{description}} </i></p>
                    </li>
                    <br>


                    <ul>
                        <h3>
                            <strong>Members:</strong>
                        </h3>
                        {{#each members}}
                        <li>
                            <p> {{name}}, {{gender}}, {{age}}</p>
                            <p>ID: {{id}}</p>
                            <br>
                        </li>
                        {{/each}}
                    </ul>
                    {{/each}}
                </ul>
                {{/if}}
                {{/each}}

                <br>

                {{#if groups}}
                <h3>
                    <i>Groups:</i>
                </h3>
                {{#each groups}}
                <li>
                    <p> {{name}}</p>
                    <p>ID: {{id}}</p>
                    <p><i> {{description}} </i></p>
                </li>

                <br>

                <ul>
                    <h3>
                        <strong>Members:</strong>
                    </h3>
                    {{#each members}}
                    <li>
                        <p> {{name}}, {{gender}}, {{age}}</p>
                        <p>ID: {{id}}</p>
                        <br>
                        {{/each}}
                    </li>
                </ul>
                {{/each}}
                {{/if}}
            </ul>
            {{/each}}
        </ul>
    </main>
</div>